.timepicker-numpad {
    background-color: #D9D1BA;
    width: 100%;
    overflow: hidden;
}

.timepicker-button {
    color: #F2E9D8;
    background-color: #8094A6;
    width: 23%;
    height: 50px;
    line-height: 50px;
    float: left;
    margin: 1%;
    overflow: hidden;
    text-align: center;
}
